  <!-- コメント一覧,コメントフォーム,コメントへの星評価  articles showで使用 -->
  <% parent_comments.each do |parent_comment| %>
    <div class="row d-flex align-items-center py-3"> <!--要素の高さ中央揃え-->
      <div class="col font-weight-bold">
        <%= link_to member_path(parent_comment.member) do %>
          <span class="profile-img--sm"><%= attachment_image_tag(parent_comment.member, :image, format: 'png', fallback: "no-image-icon.png") %></span>
          <span><%= parent_comment.member.name %>さん</span>
        <% end %>
      </div>
      <div class="col align-items-center text-right font-weight-bold">
        <%= parent_comment.created_at.strftime("%Y/%-m/%-d %H:%M") %>
      </div>
    </div>
    <div class="card-body border border-secondary rounded-lg bg-white">
      <%= safe_join(parent_comment.body.split("\n"), tag(:br)) %> <!--改行(\n)にはhtmlタグ<br>を付与し、段落を反映して表示する。-->

      <div class="text-right">
        <% if parent_comment.image %>　               <!--コメントに画像が添付されていればモーダルへのリンクを表示させる-->
          <%= link_to '画像', article_article_comment_path(article, parent_comment), remote: true, class: "fas fa-image btn btn-sm btn-outline-secondary" %>
        <% end %>

        <% if current_member_has?(parent_comment) %>　<!--ログインユーザとコメント投稿者が同一であれば 削除ボタンを表示させる-->
          <%= link_to '削除', article_article_comment_path(article.id, parent_comment.id), class: 'fas fa-trash-alt btn btn-sm btn-outline-secondary', method: :delete, remote: true %>
        <% end %>
      </div>

      <% unless article.is_closed.nil? %>             <!--相談ステータスが空でない限り、回答に紐づく評価を表示-->
        <%= render 'ratings/average_star', parent_comment: parent_comment %>
      <% end %>
    </div>

    <!-------------------------------------------------コメントへの星評価---------------------------------------------------------- ------>
    <% if answer_from_other_member(article, parent_comment) %> <!--冗長化を防ぐため article_comment helperに記述。自分のコメントや相談目的でない投稿へのコメントに対しては 評価不可とする-->
      <% if parent_comment.rated_by?(current_member) %>                         <!--評価済みか否かで条件分岐-->
        <% @rated = Rating.find_by(member_id: current_member, article_comment_id: parent_comment.id) %>
        <%= render 'ratings/rerate', parent_comment: parent_comment %>
      <% elsif parent_comment.member != current_member %>                       <!--未評価の場合-->
        <%= render 'ratings/rate', parent_comment: parent_comment %>
      <% end %>
    <% end %>

    <!-------------------------------------------コメントへの返信一覧 & 返信フォーム------------------------------------------------------>
    <div class="py-3">
      <div id="reply-<%= parent_comment.id %>">
        <%= link_to "#{parent_comment.replies.size} Reply",  reply_article_article_comment_path(article, parent_comment), remote: true , class: "article-content__replyCount" %>
      </div>
    </div>
  <% end %>

  <div id="mask" class="hidden"></div>　<!--モーダルの周囲を薄暗くするマスク-->
  <div id="modal" class="hidden">       <!-- 空のモーダル JSでイベント発生時に中身を書き換える -->
    <p>モーダルウィンドウ<p>
  </div>
