  <% if parent_comment.replies.exists? %>
    <% parent_comment.replies.each do |reply| %>
      <div class="row d-flex align-items-center ml-3"> <!--要素の高さ中央揃え-->
        <div class="col font-weight-bold">
          <%= link_to member_path(reply.member) do %>
            <%= attachment_image_tag(reply.member, :image, :fill, 40, 40, format: 'png', fallback: "no-image-icon.png", size: '40x40') %>
            <%= reply.member.name %>さん
          <% end %>
        </div>
        <div class="col align-items-center text-right font-weight-bold">
          <%= reply.created_at.strftime("%Y/%-m/%-d %H:%M") %>
        </div>
      </div>
      <div class="card-body border border-secondary rounded-lg bg-white ml-4">
        <%= safe_join(reply.body.split("\n"), tag(:br)) %> <!--改行(\n)にはhtmlタグ<br>を付与し、段落を反映して表示する。-->
        <% if current_member == reply.member %>　<!--コメント投稿者には削除ボタンを表示させる-->
          <div class="text-right">
            <%= link_to ' 削除', article_article_comment_path(article.id, reply.id), class: 'fas fa-trash-alt btn btn-sm btn-outline-secondary', method: :delete, remote: true %>
          </div>
        <% end %>
      </div>
      <script>
        $(".js-accordion-title .accordion-title-<%= parent_comment.id %>").on('click', function () { /*クリックでコンテンツを開閉*/
          $(this).next().slideToggle(200);
        });
      </script>
    <% end %>
  <% end %>
  <!--各コメントへの返信フォーム-->
  <%= form_with model:[article, article_comment_reply] do |f| %>
    <div class="border-top border-secondary mt-4 ml-4">
      <%= f.label :body, 'コメントに返信する', class: "instruction--sm-grey" %>
      <%= f.text_area :body, class: "col card-body border-dark rounded-lg", autofocus: true, placeholder: "コメントに返信してみましょう" %>
      <div class="text-right py-2">
        <%= f.attachment_field :image %>
        <%= f.hidden_field :parent_id, value: parent_comment.id %>
        <%= f.submit '返信する', class: "btn btn-sm btn-danger" %>
      </div>
    </div>
  <% end %>