<div class="container">
  <div class="row">
  　<!--Bootstrapでのタブ切替ための記述➡ul要素の「nav」「nav-tabs」で切替タブを指定。「active」により初期選択を指定。-->
    <ul class="nav nav-tabs d-flex" role="tablist">
      <li role="presentation" class="w-50 question">
        <!--表示内容の識別子を指定。data-taggle="tab"により切替タブのJavaScriptを指定-->
        <a aria-controls="tab_question" data-toggle="tab" href="#tab_question" role="tab" class="btn btn-lg btn-outline-danger active" id="question" >相談する</a>
        <p>「相談する」では、他のユーザからのアドバイスを募集することが出来ます。相談ステータスを「解決済」に更新することで、回答募集ページへの掲示を終了します。</p>
      </li>
  	  <li role="presentation" class="active w-50 share">
  	    <a aria-controls="tab_share" data-toggle="tab" href="#tab_share" role="tab" class="btn btn-lg btn-outline-danger" id="share">シェアする</a>
  	    <p>「シェアする」では、新着コーデに投稿されます。あなたの一押しアイテムやコーディネートを皆んなとシェアしましょう！</p>
  	  </li>
  	</ul>
  </div>

  <!--タブ①相談中の記述。tab-paneはタブの表示内容、fadeは切替に動きを出す役割-->
  <div class="tab-content mt-3">
  	<div class="tab-pane in active" id="tab_inquire" role="tabpanel">
      <%= form_with model: article,local: true do |f| %>
        <!--相談ステータス:false(相談中)を渡す-->
        <%= f.hidden_field :is_closed, value: false %>
  	  	<div class="form-group">
  	  		<%= f.label :title, "相談タイトル" %>
  				<%= f.text_field :title, class:"form-control col-8" %>
  	  	</div>
  			<div class="form-group">
  			  <%= f.label :body, "今、悩んでいること" %>
  				<%= f.text_area :body, rows: 7, class:"form-control col-8" %> <!-- 入力フォームの大きさ(size) => "cols x rows" で指定する-->
  			</div>
  			<%= f.label :category_id, "生活シーン" %>
        <span class="select_field"><%= f.collection_select :category_id, Category.all, :id, :name, prompt: "選択してください" %></span>
        <div class="flex">
      		<div  class="flex-item">
      			<div class="image_field">
         		  <%= f.label :article_images_images, class: "fas fa-image" do %>
                <%= f.attachment_field :article_images_images, multiple: true, class:"question_article_image_field" %>
              <% end %>
      			  <div>
      			    <p>選択するとプレビューが表示されます。(最大4枚まで)</p>
                <img id="prev_img_0" style="width:25%;">
                <img id="prev_img_1" style="width:25%;">
                <img id="prev_img_2" style="width:25%;">
                <img id="prev_img_3" style="width:25%;">
              </div>
            </div>
      		</div>
      	</div>

        <div class="text-center my-3">
        	<%= f.submit "投稿", class: "btn btn-danger" %>
        </div>

      <% end %>
     </div>

    <!--タブ②シェアの記述-->
  	<div class="tab-pane fade mt-3" id="tab_share" role="tabpanel">
      <%= form_with model: article,local: true do |f| %>
      	<div class="form-group">
       		<%= f.label :title, "タイトル" %>
  				<%= f.text_field :title, class:"form-control col-8" %>
  		  </div>
  			<div class="form-group">
  				<%= f.label :body, "キャプション  #(ハッシュマーク)をつけて投稿することでタグ付き投稿が可能です" %>
  				<%= f.text_area :body, rows: 7, class:"form-control col-8" %>
  			</div>
  			<%= f.label :category_id, "生活シーン" %>
      	<span class="select_field"><%= f.collection_select :category_id, Category.all, :id, :name, prompt: "選択してください" %></span>
      	<div class="flex">
      		<div  class="flex-item">
      			<div class="image_field">
     		      <%= f.label :article_images_images, class: "fas fa-image" do %>
                <%= f.attachment_field :article_images_images, multiple: true, class:"share_article_image_field" %>
              <% end %>
              <div>
        				<p>選択するとプレビューが表示されます。(最大4枚まで)</p>
                <img id="prev_img_4" style="width:25%;">
                <img id="prev_img_5" style="width:25%;">
                <img id="prev_img_6" style="width:25%;">
                <img id="prev_img_7" style="width:25%;">
              </div>
            </div>
      		</div>
      	</div>
      	<div class="text-center my-3">
      		<%= f.submit "シェア", class: "btn btn-danger" %>
      	</div>
      <% end %>
    </div>
  </div>
</div>
