<div class="container article-list">
  <div class="row">
    <div class="col-lg-10">
      <div class="d-flex justify-content-around">
        <h4>シェア</h4>
        <!--カテゴリーで絞込み-->
        <%= form_with url: articles_path, method: :get, local: true do |f| %>
          <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "すべて" %>
          <%= f.submit '検索', class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>
      <div class="scroll-list jscroll", id="scroll-list_articles">
        <%= render 'index', articles: @articles %>
        <%= paginate @articles %>
      </div>
      <div class="scroll-menu text-center">
        <% unless @articles.last_page? %> <!--最終ページでない限り読み込みボタンを表示-->
          <button class="loadmore-btn" type="button">もっと見る</button>
        <% end %>
        <div class="page-load-status" style="display:none;">
          <div class="infinite-scroll-request">ロード中</div>
          <p class="infinite-scroll-last">これ以上は記事がありません</p>
          <p class="infinite-scroll-error">読み込むページがありません</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 side-bar">
      <%= render 'members/info', member: current_member %>
    </div>
  </div>
</div>