<div class="container article-list">
  <div class="row">
    <div class="col-lg-10">
      <div class="d-flex justify-content-around">
        <h4>シェア</h4>
        <!--カテゴリーで絞込み-->
        <%= form_with url: search_in_shares_path, method: :get do |f| %>
          <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "ジャンルで絞り込む" %>
          <%= f.submit '検索', class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>  
  
      <div class="scroll-list jscroll", id="scroll-list_articles">
        <%= render 'index', articles: @articles %>
        <%= paginate @articles %>
      </div>
    </div>
    <div class="col-lg-2 side-bar">
      <%= render 'members/info', member: current_member %>
    </div>
  </div>
</div>

