<div class="container article-content">
  <div class="row">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-2 article-content__date text-right"><p><%= @article.created_at.strftime('%Y') %><span><%= @article.created_at.strftime('%m/%d') %></span></p></div>
        <div class="col-lg-10  text-center">
          <h3>Title: <%= @article.title %></h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6 article-img">
          <% if @article.article_images.present? %>
            <ul id="slider">
              <% @article.article_images.each do |article_image| %>
                <li class="slide-item">
                  <%= attachment_image_tag article_image, :image, :fill, 300, 400, format: 'png' %>
                </li>
              <% end %>
            </ul>
            <ul id="thumbnail-list">
              <% @article.article_images.each do |article_image| %>
                <li class="thumbnail-item my-3">
                  <%= attachment_image_tag article_image, :image, :fill, 80, 100, format: 'png' %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div class="article-noImg">
              <%= image_tag 'no-image.png' %>
            </div>
          <% end %>
          <div class="tag-box">
            <% @article.tags.each do |tag| %>
              <span class="label"><%= link_to tag.name, "/article/tag/#{tag.name}" %></span>
            <% end %>
          </div>
        </div>
        <div class="col-lg-6 article-content__mainTxt">
          <ul class="article-content__info", id="article_<%= @article.id %>">
            <li class="favorite-btn"><%= render 'favorites/favorite-btn', article: @article %></li> <!--お気に入りパーシャル呼び出し-->
            <% if current_member_has?(@article) %>      <!--「ログインユーザと投稿者が同一か」で条件分岐(application_helperで定義)-->
              <li><%= link_to '', article_path(@article), method: :delete, data: { confirm: 'この投稿を削除しますか？', cancel: 'キャンセル',commit: 'OK'}, title: '投稿削除', class: "destroy_article_#{@article.id} fas fa-trash-alt" %></li>
              <% if @article.is_closed == false %>      <!--上記且つ、相談ステータスが相談中の場合、更新ボタンを表示-->
                <li><%= link_to '', article_path(@article), method: :patch, data: { confirm: 'ステータス解決済みにすると回答募集ページへの掲示を終了します。本当によろしいですか？', cancel: 'キャンセル',commit: 'OK' }, title: '相談ステータス更新', class: "update_article_#{@article.id} fas fa-check-circle"%></li>
              <% end %>
            <% end %>
            <li>by <%= link_to @article.member.name, member_path(@article.member) %></li>
          </ul>
          <h4>Text</h4>
          <% article_body = safe_join(@article.body.split("\n"), tag(:br)) %>　<!--改行には<br>を付与し、段落を反映して変数に代入。-->
          <div class="my-3"><%= render_with_tags(article_body) %></div>        <!--上記を評価し、ハッシュタグにリンクを付与-->
          <div class="category">category: <%= @article.category.name %></li>

          <% if current_member_has?(@article) %>    <!--ログインユーザと投稿者が同一の場合、円グラフを表示-->
            <p class="mt-3 instruction--sm-grey">お気に入り登録したユーザ層(こちらは投稿者本人のみ閲覧できます)</p>
            <div class="col-8 offset-2 pie my-1">
              <%= pie_chart @attribute_ratio, donut: true, suffix: "%" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col accordion-container">  <!--accordion-containerの中にtitleとcontentを配置-->
          <div class="accordion-title js-accordion-title text-center my-4">
            <span class="article-content__commentCount"><%= @article.article_comments.count %> Comments</span> 
          </div>
          <div class="container accordion-content">
            <%= form_with model:[@article, @article_comment] do |f| %>
              <div class="border-top border-secondary m-3">
                <%= f.label :body, 'コメントする', class: "instruction--sm-grey" %>
                <%= f.text_area :body, class: "col card-body border-dark rounded-lg", autofocus: true, placeholder: "コメントを入力する" %>
                <div class="text-right py-2">
                  <%= f.attachment_field :image %>
                  <%= f.submit 'コメントする', class: "btn btn-sm btn-danger" %>
                </div>
              </div>
            <% end %>
            <div class="article-content__comment">
              <%= render partial: 'article_comments/index', locals: {article: @article, parent_comments: @parent_comments, article_comment_reply: @article_comment_reply} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 side-bar">
      <%= render 'members/info', member: current_member %>
    </div>
  </div>
</div>
