<div class='container'>
  <h4 class='offset-md-1 page_title my-4'>新規会員登録</h4>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto py-5">
      <%= form_with model: @member, url: member_registration_path, id: 'new_member', class: 'new_member',  local: true do |f| %>
        <%= render "members/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name, "ユーザ名" %>
          <%= f.text_field :name, autofocus: true, :placeholder => "ユーザA", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>
        
        <div class="form-group my-3">
          <%= f.label :age, '年齢' %>
          <%= f.select :age, options_for_select((10..100).to_a), { prompt: "未選択" } %>
        </div>
        
        <div class="form-group my-3">
          <%= f.label :gender, "性別" %>
          <%= f.select :gender, Member.genders.keys, { prompt: "未選択", selected: 0, :selected => @member.gender } %>  <!--enumのデータを表示-->
        </div>

        <div class="actions text-center m-2">
          <%= f.submit "新規登録", class: "btn btn-sm btn-danger" %>
        </div>
      <% end %>
      <h5 class="section-ttl">既に登録済みの方</h5>
      <p><%= link_to "こちら", new_member_session_path, class: "underline" %>からログインしてください。</p>
    </div>
  </div>
</div>