<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h5>フォロワー一覧</h5>
      <% if @members.exists? %>
        <table class="table mt-2">
          <thead>
            <tr>
              <th>プロフィール画像</th>
              <th>ユーザ名</th>
              <th>フォロー数</th>
              <th>フォロワー数</th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><%= attachment_image_tag(member, :image, :fill, 50, 50, fallback: "no-image-icon.png", size: "50x50") %></td>
                <td><%= member.name %></td>
                <td><%= member.followings.count %></td>
                <td><%= member.followers.count %></td>
                <td><%= link_to '詳細ページ', member_path(member) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>    
    <div class="col-lg-2 side-bar">
      <%= render 'members/info', member: current_member %>
    </div>    
  </div>
</div>