<!--———————-—会員情報を表示-————————————-->
<%= link_to member_path(current_member) do %>
  <div class="profile-image mt-3"><%= attachment_image_tag(member, :image, :fill, 150, 150, format: 'png', fallback: "no-image-icon.png", size: '140x140', class: "profile-image-circle") %></div>
<% end %>
<table class='table'>
  <tr>
    <th>follows</th>
    <td><%= link_to member.followings.count, member_followings_path(member) %></td>
  </tr>
  <tr>
    <th>followers</th>
    <td><%= link_to member.followers.count, member_followers_path(member) %></td>
  </tr>
</table>

<!--———————-—ユーザ編集ページへのリンク-————————————-->
<% if current_member == member %>
  <%= link_to '編集',edit_member_path(member),class: "btn btn-outline-danger btn-block edit_member_#{member.id}" %>
  <%= link_to 'チャージ', new_account_account_history_path(member.account.id),class: "btn btn-outline-danger btn-block" %>
  <%= link_to '履歴', account_account_histories_path(member.account.id),class: "btn btn-outline-danger btn-block" %>
  <p>現在残高：<%= current_member.account.balance %>p</p>
<% end %>


<!--———————-—フォローボタンを表示-————————————-->
<div class="mb-5">
  <div class="follow">
    <% unless current_member == member %>
      <% if current_member.following?(member) %>
        <%= link_to 'フォロー解除', member_relationships_path(member), method: :delete, class: "btn btn-info" %>
      <% else %>
        <%= link_to 'フォローする', member_relationships_path(member), method: :post, class: "btn btn-success"%>
      <% end %>
    <% end %>
  </div>
</div>




