<div class="container">
  <div class="row">
    <div class="col-md-6 offset-2">
      <h4>ユーザ情報編集</h4>
      <div class="my-3">
        <%= form_with model: @member, local: true do |f| %>
          <%= render 'layouts/errors', obj: @member %>
          <div class="form-group">
            <%= f.label :name, 'ユーザ名' %>
            <%= f.text_field :name, autofocus: true, class: "form-control name" %>
          </div>
          <div class="form-group">
            <%= f.label :image, 'プロフィール画像' %>
            <%= f.attachment_field :image, class: "form-control-file image" %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, '紹介文' %>
            <%= f.text_area :introduction, class: "form-control introduction" %>
          </div>
          <div class="form-group">
            <%= f.label :age, '年齢' %>
            <%= f.select :age, options_for_select((10..100).to_a, { selected: @member.age }), { prompt: "未選択" }, { class: "form-control age"} %>
          </div>
          <div class="form-group">
            <%= f.label :gender, "性別" %>
            <%= f.select :gender, Member.genders.keys, { prompt: "未選択", selected: 0, :selected => @member.gender } %>  <!--enumのデータを表示-->
          </div>
          <div class="form-group text-center">
            <%= f.submit '更新', class: 'btn btn-secondary' %>
            <%= link_to "退会手続き", confirm_unsubscribe_path, class: "btn btn-danger ml-5", id: "withdraw" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2 offset-2 side-bar">
      <%= render 'members/info', member: current_member %>
    </div>
  </div>
</div>


