<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <%= form_with model: @account_histroy, url: account_account_histories_path(@account.id), local: true do |f| %>
      	<div class="form-group">
       		<%= f.label :amount, "ポイント" %>
  				<%= f.text_field :amount, class:"form-control" %>
  		  </div>
  		  <div class="flex align-center pl-5">
      		<%= f.submit "チップを送る", class: "btn btn-danger" %>
      	</div>
  	  <% end %>

      <ul class="nav nav-tabs justify-content-center">
        <li><a class="active nav-link" href="#tab-a" data-toggle="tab">プロフィール</a></li>
        <li><a class="nav-link" href="#tab-b" data-toggle="tab">投稿一覧</a></li>
        <li><a class="nav-link" href="#tab-c" data-toggle="tab">お気に入り一覧</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane in active" id="tab-a">
          <%= render 'info', member: @member %>
        </div>
        <div class="tab-pane fade" id="tab-b">
          <%= render 'articles/index', articles: @member.articles.page(params[:page]).reverse_order %>          <!--会員に紐づく投稿一覧-->
        </div>
        <div class="tab-pane fade" id="tab-c">
          <%= render 'articles/index', articles: @member.favorite_articles.page(params[:page]).reverse_order %>  <!--会員に紐づくお気に入り投稿一覧-->
        </div>
      </div>
    </div>
    <div class="col-lg-2 side-bar">
      <h5>サイドバー</h5>
      <%= render 'members/info', member: current_member %>
    </div>
  </div>
</div>



